/*
 class of the <body> element changes according to the phase and state of the timer.
 By using these classes, you can change style according to the phase and state.
*/


/* before 1st chime */
.phase-0{
	/* styles for body element */
}
.phase-0 #time{
}

/* after 1st chime before 2nd chime */
.phase-1{
	/* styles for body element */
}

/* after 2nd chime before 3rd chime */
.phase-2{
	/* styles for body element */
}
.phase-2 #time{
	/* style for displayed time can be changed in this way */
}

/* after 3rd chime */
.phase-3{
	/* styles for body element */
}


/* classes for states */
.state-stanby{
}

.state-start{
}

.state-paused{
}
